<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://use.fontawesome.com/280af9a895.css">
  <title>Lista de Tareas Manu</title>
</head>
<body>
  <div class="conteiner">

    <h1 class="title">LISTA DE TAREAS DE MANUEL</h1>

    <div class="conteiner_input">
      <input type="text" class="input">
      <button class="btn_add">ADD</button>
    </div>

        <!--TASK 1-->
    
    <div class="conteiner_task">
      <div class="conteiner_list">
        <div class="conteiner_list-1"> 
          <input type="checkbox" class="check">
          <p class="act">TASK N</p>
        </div>

        <div class="conteiner_list-btn">
          <button class="btn-delete"><i class="fa fa-trash fa-2x" aria-hidden="true"></i>
          </button>
        </div>

      </div>
    </div>

        <!--TASK 2-->
    
    <div class="conteiner_task">
      <div class="conteiner_list">
        <div class="conteiner_list-1"> 
          <input type="checkbox" class="check">
          <p class="act">TASK N-1</p>
        </div>

        <div class="conteiner_list-btn">
          <button class="btn-delete"><i class="fa fa-trash fa-2x" aria-hidden="true"></i>
          </button>
        </div>

      </div>
    </div>
    
        <!--TASK 3-->
    
    <div class="conteiner_task">
      <div class="conteiner_list">
        <div class="conteiner_list-1"> 
          <input type="checkbox" class="check">
          <p class="act"><del>Completed Task N-2</del></p>
        </div>

        <div class="conteiner_list-btn">
          <button class="btn-delete"><i class="fa fa-trash fa-2x" aria-hidden="true"></i>
          </button>
        </div>

      </div>
    </div>
    
        <!--TASK 4-->
    
    <div class="conteiner_task">
      <div class="conteiner_list">
        <div class="conteiner_list-1"> 
          <input type="checkbox" class="check">
          <p class="act">TASK K</p>
        </div>

        <div class="conteiner_list-btn">
          <button class="btn-delete"><i class="fa fa-trash fa-2x" aria-hidden="true"></i>
          </button>
        </div>

      </div>
    </div>

        <!--TASK 5-->
    
    <div class="conteiner_task">
      <div class="conteiner_list">
        <div class="conteiner_list-1"> 
          <input type="checkbox" class="check">
          <p class="act">TASK 2</p>
        </div>

        <div class="conteiner_list-btn">
          <button class="btn-delete"><i class="fa fa-trash fa-2x" aria-hidden="true"></i>
          </button>
        </div>

      </div>
    </div>
    
        <!--TASK 6-->
    
    <div class="conteiner_task">
      <div class="conteiner_list">
        <div class="conteiner_list-1"> 
          <input type="checkbox" class="check">
          <p class="act" ><del>Completed Task 1</del></p>
        </div>

        <div class="conteiner_list-btn">
          <button class="btn-delete"><i class="fa fa-trash fa-2x" aria-hidden="true"></i>
          </button>
        </div>

      </div>
    </div>

  </div>
  
</body>
</html>